<p>
<%= @msg %>
</p>
<hr>
<form method ="post" action ="create">
	<label>
		<tr>
			<td>title:</td>
			<td>
				<input type	="text" id="title" name="title" size="40">
			</td>
		</tr>
		<tr>
			<td>content:</td>
			<td>
				<textarea id="content" name="content" cols="40" rows="3">
				</textarea>
			</td>

		</tr>
		<tr>
			<td></td>
			<td>
				<input type="submit">
			</td>
		</tr>
		</table>
</form>

